.newsDeckApp__articles-list-entry,
.newsDeckApp__articles-list-entry--featured {
  padding: 4% 0;
  border-bottom: 1px solid black;
}

.newsDeckApp__articles-list-entry-source,
.newsDeckApp__articles-list-entry--featured-source {
  padding-bottom: 2%;
}

.newsDeckApp__articles-list-entry--featured-title {
  font-size: 3em;
  font-weight: 800;
}

.newsDeckApp__articles-list-entry-title {
  font-size: 1.5em;
  font-weight: 600;
}

.newsDeckApp__articles-list-entry-author,
.newsDeckApp__articles-list-entry--featured-author {
  padding-top: 2.5%;
}

.newsDeckApp__articles-list-entry-link,
.newsDeckApp__articles-list-entry--featured-link {
  color: black;
  text-decoration: none;
}

.newsDeckApp__articles-list-entry-link:hover,
.newsDeckApp__articles-list-entry--featured-link:hover {
  text-decoration: underline;
}
